body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
.topnav {
    overflow: hidden;
}
  
.topnav img{
    height: 5%;
    width: 5%;
    padding-left: 200px;
    padding-top: 18px;
}
  
.btns{
    padding-right: 200px;
    float: right;
}
  
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: fantasy;
}
  
.topnav a:hover {
    color: #760091;
    transition: 0.7s;
}

.topnav a.active {
    color: #760091;
}

.mainpic{
    width: 1481px;
    height: 650px;
    background: url("1.jpg");
    background-size: cover;
}

.mainpic h1{
    color: #f2f2f2;
    padding-top: 200px;
    padding-left: 150px;
}

.mainpic h1 u{
    text-decoration-color: #760091;
}

.mainpic p{
    padding-left: 150px;
    color: #bebebe;
}

.mainpic button{
    margin-left: 150px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    background-color: #760091;
    color: #f2f2f2;
}

.mainpic button:hover{
    background-color: #540066;
    transition: 0.7s;
}

.storybox{
    width: 1481px;
    height: 650px;
}

.storybox img{
    width: 30%;
    height: 80%;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 5px;
}

.story{
    width: 500px;
    height: 350px;
    float: right;
    margin-top: 200px;
    margin-right: 300px;
}

.storybox .story h5{
    color: #760091;
}

.storybox .story button{
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    background-color: #760091;
    color: #f2f2f2;
}

.storybox .story button:hover{
    background-color: #540066;
    transition: 0.7s;
}

.services1{
    float: left;
    margin-left: 150px;
    width: 400px;
}

.services1 h5{
    color: #760091;
}

.services2{
    float: right;
    width: 600px;
    padding-right: 200px;
}

.services3{
    width: 1481px;
    height: 650px;
    margin-top: 150px;
}

.services3 p{
    text-align: center;
    padding-top: 250px;
    color: #bebebe;
}

.services3 .grow{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 200px;
}

.services3 .grow #grow{
    margin-top: 10px;
    margin-left: 20px;
}

.services3 .grow h4{
    margin-left: 20px;
}

.services3 .sale{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
}

.services3 .sale img{
    width: 30%;
    margin-top: 10px;
    margin-left: 20px;
}

.services3 .sale h4{
    margin-left: 20px;
}

.services3 .expert{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
}

.services3 .expert img{
    width: 30%;
    margin-top: 10px;
    margin-left: 20px;
}

.services3 .expert h4{
    margin-left: 20px;
}

.services3 .idea{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}

.services3 .idea img{
    width: 30%;
    margin-top: 10px;
    margin-left: 20px;
}

.services3 .idea h4{
    margin-left: 20px;
}

.services3 .conver{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.services3 .conver img{
    width: 30%;
    margin-top: 10px;
    margin-left: 20px;
}

.services3 .conver h4{
    margin-left: 20px;
}

.services3 .asdasd{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.services3 .asdasd img{
    width: 30%;
    margin-top: 10px;
    margin-left: 20px;
}

.services3 .asdasd h4{
    margin-left: 20px;
}

.process{
    text-align: center;
    width: 700px;
    margin: auto;
}

.process h5{
    color: #760091;
}

.cont1{
    width: 1481px;
    height: auto;
}

.cont1 img{
    width: 20%;
    height: 20%;
    padding-left: 400px;
    float: left;
}

.cont1 h3{
    float: right;
    padding-right: 600px;
}

.cont1 .p{
    width: 500px;
    height: auto;
    float: right;
    padding-right: 175px;
}

.cont2{
    width: 1481px;
    height: auto;
}

.cont2 img{
    width: 20%;
    height: 20%;
    padding-right: 380px;
    float: right;
    padding-top: 75px;
}

.cont2 h3{
    float: left;
    padding-left: 580px;
    padding-top: 30px;
}

.cont2 .p{
    width: 500px;
    height: auto;
    float: right;
    padding-right: 105px;
    text-align: right;
}

.cont3{
    width: 1481px;
    height: auto;
}

.cont3 img{
    width: 20%;
    height: 20%;
    padding-left: 400px;
    float: left;
    padding-top: 75px;
}

.cont3 h3{
    float: right;
    padding-right: 600px;
    padding-top: 30px;
}

.cont3 .p{
    width: 500px;
    height: auto;
    float: right;
    padding-right: 175px;
}

.portfolio{
    width: 1481px;
    height: auto;
    margin-top: 700px;
    text-align: center;
}

.portfolio h5{
    color: #760091;
}

.portfolio .p{
    width: 500px;
    margin: auto;
}

.imgs1 img{
    width: 20%;
    height: 20%;
    margin-top: 40px;
    margin-left: 10px;
}

.imgs2 img{
    width: 20%;
    height: 20%;
    margin-top: 20px;
    margin-left: 10px;
}

.ready{
    text-align: center;
    width: 1481px;
    height: 300px;
    background-image: url("elmo.jpg");
    color: #f2f2f2;
    margin-top: 100px;
}

.ready h3{
    padding-top: 100px;
}

.ready .p{
    width: 500px;
    margin: auto;
    color: #bebebe;
}

.ready button{
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    background-color: #760091;
    color: #f2f2f2;
    margin-top: 10px;
}

.ready button:hover{
    background-color: #540066;
    transition: 0.7s;
}

.pricing{
    text-align: center;
    margin-top: 100px;
}

.pricing h5{
    color: #760091;
}

.pricing .p{
    width: 500px;
    margin: auto;
}

.pricing .pricebox{
    width: 1481px;
    height: 650px;
    text-align: left;
}

.pricing .pricebox .basic{
    width: 400px;
    height: 500px;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
}

.pricing .pricebox .basic:hover{
    margin-top: 50px;
    border-radius: 7px;
    border: 1px #bebebe;
    box-shadow: 5px 10px #bebebe;
    transition: 0.7s;
}

.pricing .pricebox .basic h3{
    margin-top: 60px;
    margin-left: 30px;
}

.pricing .pricebox .basic h1{
    margin-left: 30px;
}

.pricing .pricebox .basic ul{
    margin-left: 30px;
    margin-top: 50px;
}

.pricing .pricebox .basic ul li{
    margin-top: 20px;
}

.pricing .pricebox .basic button{
    margin-top: 50px;
    margin-left: 22px;
    padding: 10px 140px 10px 140px;
    border-radius: 7px;
    background-color: #760091;
    color: #f2f2f2;
}

.pricing .pricebox .basic button:hover{
    background-color: #540066;
    transition: 0.7s;
}

.pricing .pricebox .standart{
    width: 400px;
    height: 500px;
    float: left;
    margin-left: 25px;
    margin-top: 40px;
}

.pricing .pricebox .standart:hover{
    margin-top: 50px;
    border-radius: 7px;
    border: 1px #bebebe;
    box-shadow: 5px 10px #bebebe;
    transition: 0.7s;
}

.pricing .pricebox .standart h3{
    margin-top: 60px;
    margin-left: 30px;
}

.pricing .pricebox .standart h1{
    margin-left: 30px;
}

.pricing .pricebox .standart ul{
    margin-left: 30px;
    margin-top: 50px;
}

.pricing .pricebox .standart ul li{
    margin-top: 20px;
}

.pricing .pricebox .standart button{
    margin-top: 50px;
    margin-left: 22px;
    padding: 10px 140px 10px 140px;
    border-radius: 7px;
    background-color: #760091;
    color: #f2f2f2;
}

.pricing .pricebox .basic button:hover{
    background-color: #540066;
    transition: 0.7s;
}

.pricing .pricebox .pro{
    width: 400px;
    height: 500px;
    float: left;
    margin: 0;
    margin-left: 25px;
    margin-top: 40px;
}

.pricing .pricebox .pro:hover{
    margin-top: 50px;
    border-radius: 7px;
    border: 1px #bebebe;
    box-shadow: 5px 10px #bebebe;
    transition: 0.7s;
}

.pricing .pricebox .pro h3{
    margin-top: 60px;
    margin-left: 30px;
}

.pricing .pricebox .pro h1{
    margin-left: 30px;
}

.pricing .pricebox .pro ul{
    margin-left: 30px;
    margin-top: 50px;
}

.pricing .pricebox .pro ul li{
    margin-top: 20px;
}

.pricing .pricebox .pro button{
    margin-top: 50px;
    margin-left: 22px;
    padding: 10px 140px 10px 140px;
    border-radius: 7px;
    background-color: #760091;
    color: #f2f2f2;
}

.pricing .pricebox .basic button:hover{
    background-color: #540066;
    transition: 0.7s;
}

.pricing .pricebox p{
    text-align: center;
    padding-top: 250px;
    color: #bebebe;
}

.team{
    text-align: center;
    margin-top: 100px;
}

.team h5{
    color: #760091;
}

.team .p{
    width: 500px;
    margin: auto;
}

.team .imgs img{
    width: 20%; /* 800 x 450 */
    height: 50%;
    margin-top: 20px;
    margin-left: 10px;
}

.pro{
    float: left;
    margin-left: 250px;
}

.pro h5{
    color: #707070;
}

.cli{
    float: left;
    margin-left: 260px;
}

.cli h5{
    color: #707070;
}

.mem{
    float: left;
    margin-left: 260px;
}

.mem h5{
    color: #707070;
}

.emp{
    float: left;
    margin-left: 260px;
}

.emp h5{
    color: #707070;
}

.blogs{
    text-align: center;
    margin: auto;
    margin-top: 500px;
}

.blogs h5{
    color: #760091;
}

.blogs .p{
    width: 500px;
    margin: auto;
}

.blogs .blogsbox{
    width: 1481px;
    height: 650px;
    background: url("elmo.jpg");
    background-size: cover;
}

.blogs .blogsbox p{
    text-align: center;
    padding-top: 250px;
    color: #bebebe;
}

.contactus{
    text-align: center;
    margin: auto;
    margin-top: 500px;
}

.contactus #us{
    color: #760091;
}

.contactus .p{
    width: 500px;
    margin: auto;
}

.contactus .form{
    width: 800px;
    height: 400px;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
}

.contactus .form #name{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 6px;
    
}

.contactus .form #email{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 6px;
    margin-left: 25px;
}

.contactus .form #subj{
    width: 650px;
    height: 40px;
    margin-top: 25px;
    border-radius: 6px;
    padding-left: 10px;
}

.contactus .form #msg{
    width: 650px;
    height: 100px;
    margin-top: 25px;
    border-radius: 6px;
    padding-left: 10px;
}

.contactus .form button{
    margin-left: 20px;
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    background-color: #760091;
    color: #f2f2f2;
}

.contactus .info{
    width: 500px;
    float: right;
    margin-top: 50px;
    text-align: left;
}

.contactus .info h5{
    color: #bebebe;
}

.footer{
    width: 1481px;
    height: 100px;
    background-color: #540066;
    margin-top: 500px;
}

.footer img{
    width: 5%;
    padding-left: 200px;
    padding-top: 25px;
}

.footer i{
    margin-left: 300px;
}